@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 100%;
  min-height: 100dvh;
}
body main {
  max-width: 100%;
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #596D48;
}
body main #card {
  max-width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f9fafb;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
body main #card #img {
  width: 500px;
  height: auto;
  background-image: url(../image/img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 0 0 10px;
}
body main #card #img #logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(15, 14, 14, 0.5411764706);
  padding: 20px 0;
}
body main #card #img #logo img {
  width: 50px;
  height: 50px;
}
body main #card #img #logo h1 {
  color: #E5E7EB;
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  padding-top: 10px;
}
body main #card #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
}
body main #card #content p {
  padding: 30px 150px 20px 50px;
  font-weight: bold;
  font-size: 1rem;
}
body main #card #content #formSection {
  background-color: #ffffff;
  padding: 20px 50px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
body main #card #content #formSection #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  gap: 30px;
}
body main #card #content #formSection #form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
}
body main #card #content #formSection #form .form-group label {
  text-transform: uppercase;
  font-family: "Roboto flex", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1e1d1d;
}
body main #card #content #formSection #form .form-group input {
  width: 200px;
  padding: 5px;
  margin-top: 5px;
  border: 1.5px solid #E5E7EB;
  border-radius: 5px;
}
body main #card #content #formSection #form .form-group input:focus {
  border: 1.5px solid rgb(52, 130, 240);
  outline: none;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
body main #card #content #button {
  padding: 20px 50px;
}
body main #card #content #button button {
  background-color: #596D48;
  padding: 15px 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}
body main #card #content #login {
  padding: 0 50px 30px 50px;
}
body main #card #content #login a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}