@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$button: #596D48;
$border: #E5E7EB;
$background: #0f0e0e8a;
$card-bg: #f9fafb;
$white: #ffffff;
$form-label: #1e1d1d;

$font-family: 'Kalam', Arial, Helvetica, sans-serif;
$font-family-labels: 'Roboto flex', sans-serif; 